body {
    font-family: Arial, sans-serif;
    overflow-y: auto; /* Ensure scrolling */
}

.navbar {
    margin-bottom: 20px;
}

.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem;
    text-align: center;
}

.content-container {
    margin-top: 120px;
    padding: 20px;
    min-height: 150vh; /* Adjust as needed */
}
