{% extends 'navbar.html' %}

{% block title %}Achievements{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-primary mb-4">Our Achievements</h2>
  <p> Under Preparation</p>
  <!-- <ul class="list-group list-group-flush shadow-sm">
    <li class="list-group-item">🔹 Successfully completed Project X in 2023 with DRDO Labs</li>
    <li class="list-group-item">🔹 Published 15+ papers in top-tier journals related to defense AI</li>
    <li class="list-group-item">🔹 Developed prototypes in autonomous navigation, radar imaging</li>
    <li class="list-group-item">🔹 Received DRDO Innovation Excellence Award 2022</li>
    
  </ul> -->
</div>
{% endblock %}
