{% extends 'navbar.html' %}

{% block title %}Important Links{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-primary mb-4">Important Links</h2>
  <ul class="list-group list-group-flush shadow-sm">
    <li class="list-group-item"><a href="https://www.drdo.gov.in/" target="_blank">DRDO Official Website</a></li>
    <li class="list-group-item"><a href="https://www.drdo.gov.in/drdo/headquarter-directorates/directorate-futuristic-technology-management-dftm" target="_blank">DFTM</a></li>
    <li class="list-group-item"><a href="https://www.iitkgp.ac.in/" target="_blank">IIT Kharagpur</a></li>
    <!-- Add more links as needed -->
  </ul>
</div>
{% endblock %}
